## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [2]:
import pandas as pd
import numpy as np

## 方法一

In [17]:
cities = ['Austin', 'Dallas', 'Austin', 'Dallas']
population = np.random.randint(5000,1000000,size = len(cities))
data = {'國家': cities,
        '人口': population}
data = pd.DataFrame(data)
display(data)

       國家      人口
0  Austin   62407
1  Dallas  377973
2  Austin  807468
3  Dallas  740973

## 方法二

In [19]:
cities = ['Austin', 'Dallas', 'Austin', 'Dallas']
population = np.random.randint(5000,1000000,size = len(cities))
columns= ["國家","人口"]
data =dict(zip(columns,[cities,population]))
data = pd.DataFrame(data)
display(data)

       國家      人口
0  Austin   55017
1  Dallas   60997
2  Austin  191997
3  Dallas  341200